In [107]:
%matplotlib inline
import numpy as np
import pandas as pd
import html5lib
import matplotlib.pyplot as plt

In [108]:
url_g = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=attacking/kind=goals/index.html'
tabele = pd.read_html(url_g)
dfGoals = tabele[0]

In [109]:
dfGoals.head()

                Name  Goals  Assists  Minutes  Matches
0  Antoine Griezmann      6        2      555        7
1  Cristiano Ronaldo      3        3      625        7
2     Olivier Giroud      3        2      456        6
3      Dimitri Payet      3        2      506        7
4        Gareth Bale      3        1      533        6

In [110]:
url_att = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=attacking/kind=attacking_entries/index.html'
tabele = pd.read_html(url_att)
dfAttacks = tabele[0]

In [111]:
dfAttacks.head()

,Name,Solo runs into attacking third,Solo runs into key area,Solo runs into penalty area,Deliveries into attacking third,Deliveries into a key area,Deliveries into penalty area
0,Antoine Griezmann,11,11,5,21,17,11
1,Cristiano Ronaldo,18,11,4,20,14,5
2,Olivier Giroud,3,0,3,8,6,2
3,Dimitri Payet,22,17,12,32,24,32
4,Gareth Bale,27,21,6,21,11,8

In [112]:
data = pd.merge(dfGoals.drop('Matches',axis=1),dfAttacks, on='Name')

In [113]:
url_a = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=attacking/kind=attempts/index.html'
tabele = pd.read_html(url_a)
dfAttempts = tabele[0]

In [114]:
dfAttempts.head()

,Name,Total attempts,On target,Off target,Blocked,Hit woodwork,Matches
0,Antoine Griezmann,26,14,5,7,1,7
1,Cristiano Ronaldo,46,12,17,17,1,7
2,Olivier Giroud,15,6,7,2,1,6
3,Dimitri Payet,20,7,7,6,1,7
4,Gareth Bale,25,16,6,3,0,6

In [115]:
data = pd.merge(data,dfAttempts[['Name','Total attempts','On target']],on='Name')

In [116]:
url_d = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=disciplinary/kind=disciplinary/index.html'
tabele = pd.read_html(url_d)
dfDisciplinary = tabele[0]

In [117]:
dfDisciplinary.head()

,Name,Red cards,Yellow cards,Fouls committed,Fouls suffered,Minutes,Matches
0,Antoine Griezmann,0,0,4,6,555,7
1,Cristiano Ronaldo,0,1,8,14,625,7
2,Olivier Giroud,0,1,6,6,456,6
3,Dimitri Payet,0,0,2,7,506,7
4,Gareth Bale,0,1,5,9,533,6

In [118]:
data = pd.merge(data, dfDisciplinary[['Name','Red cards','Yellow cards','Fouls committed']])

In [119]:
url_def = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=defending/kind=defensive/index.html'
tabele = pd.read_html(url_def)
dfDefense = tabele[0]

In [120]:
dfDefense.head()

                Name  Tackles  Balls recovered  Blocks  Clearances  Matches
0  Antoine Griezmann        5                8       1           0        7
1  Cristiano Ronaldo        0                4       0           3        7
2     Olivier Giroud        0               10       0           1        6
3      Dimitri Payet        1                9       0           0        7
4        Gareth Bale        3               12       1           9        6

In [121]:
data = pd.merge(data, dfDefense[['Name','Tackles','Blocks']],on='Name')

In [122]:
url_gk = r'http://www.uefa.com/uefaeuro/season=2016/statistics/round=2000448/players/\
category=defending/kind=goalkeeping/index.html'
tabele = pd.read_html(url_gk)
dfGoalkeeping = tabele[0]

In [123]:
dfGoalkeeping.head()

                 Name  Saves  Punches  Claims  Goals conceded
0   Wojciech Szczęsny      0        1       5               0
1    Salvatore Sirigu      3        4       7               1
2          Danny Ward      1        1       5               1
3  Ciprian Tătăruşanu     13        1      18               4
4        Robert Almer     13        2       8               4

In [124]:
data = pd.merge(data, dfGoalkeeping[['Name','Saves']], on='Name',how='left')

In [125]:
data.head()

,Name,Goals,Assists,Minutes,Solo runs into attacking third,Solo runs into key area,Solo runs into penalty area,Deliveries into attacking third,Deliveries into a key area,Deliveries into penalty area,Total attempts,On target,Red cards,Yellow cards,Fouls committed,Tackles,Blocks,Saves
0,Antoine Griezmann,6,2,555,11,11,5,21,17,11,26,14,0,0,4,5,1,NaN
1,Cristiano Ronaldo,3,3,625,18,11,4,20,14,5,46,12,0,1,8,0,0,NaN
2,Olivier Giroud,3,2,456,3,0,3,8,6,2,15,6,0,1,6,0,0,NaN
3,Dimitri Payet,3,2,506,22,17,12,32,24,32,20,7,0,0,2,1,0,NaN
4,Gareth Bale,3,1,533,27,21,6,21,11,8,25,16,0,1,5,3,1,NaN

In [126]:
data = data[data['Saves'].isnull()]
data.drop('Saves', axis=1,inplace=True)

In [127]:
len(data)

413

In [128]:
data.head()

,Name,Goals,Assists,Minutes,Solo runs into attacking third,Solo runs into key area,Solo runs into penalty area,Deliveries into attacking third,Deliveries into a key area,Deliveries into penalty area,Total attempts,On target,Red cards,Yellow cards,Fouls committed,Tackles,Blocks
0,Antoine Griezmann,6,2,555,11,11,5,21,17,11,26,14,0,0,4,5,1
1,Cristiano Ronaldo,3,3,625,18,11,4,20,14,5,46,12,0,1,8,0,0
2,Olivier Giroud,3,2,456,3,0,3,8,6,2,15,6,0,1,6,0,0
3,Dimitri Payet,3,2,506,22,17,12,32,24,32,20,7,0,0,2,1,0
4,Gareth Bale,3,1,533,27,21,6,21,11,8,25,16,0,1,5,3,1

In [129]:
data = data[data['Minutes'] > 45]

In [130]:
len(data)

369

In [133]:
data.to_csv('jucatori.csv',index=False,encoding='utf-8')